<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ht_googleanalytics</name>
    <displayName><![CDATA[Hiddentechies Google Analytics]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This module enables you to track your site using the latest Google Analytics tracking code.]]></description>
    <author><![CDATA[Hiddentechies]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>